<html lang='en'>
  <head>
    <link rel="icon" href="/img/weather.png"/>
    <link rel='stylesheet' href='/css/styles.css' />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p class="center"><img class="portrait" src='/img/eve.png' /></p>
    <p class="center"><strong>Extraterrestrial Vegetation Evaluator (EVE). </strong></p>
    <p>She has been sent to scan the planet for signs of sustainable life. WALL-E is smitten by the sleek, otherworldly robot, and the two begin to connect, until EVE goes into standby when WALL-E shows her his most recent find; a living seedling. The probe eventually returns and collects EVE and the plant, and, with WALL-E clinging on, returns to its mothership, the starliner Axiom.</p>
    </div>
 
    {{>footer}}
  </body>
</html>