<html lang='en'>
  <head>
    <link rel="icon" href="/img/weather.png"/>
    <link rel='stylesheet' href='/css/styles.css' />
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p><strong>Sign out on your computer</strong></p>
<ol>
<li>Open Gmail.</li>
<li>In the top right, click your photo.</li>
<li>Click Sign out.</li>
</ol>

<p><strong>Sign out from another computer</strong></p>
If you forgot to sign out of your email on another computer, you can remotely sign out of Gmail.

<ol>
<li>Open Gmail.</li>
<li>In the bottom right corner, click Details and then Sign out all other web sessions.</li>
</ol>
<strong>Tip: </strong>If you’re using a public or shared computer, sign out of your Google Account before leaving the computer. Learn more about signing in securely to Google.

<p><strong>Switch accounts without signing out</strong></p>
You can use multiple accounts on the same browser using multiple sign-ins. Then, you can switch between your accounts without signing out of either of them. Learn more about signing in to multiple accounts.
    </div>
    {{>footer}}
  </body>
</html>