<header>
  <h1>{{title}}</h1>

  <ul class='hnav'>
    <li><a href='/'>Weather</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/help'>Help</a></li>
  </ul>

</header>

<style>
  ul.hnav { list-style-type: none; margin: 0; padding: 0; overflow: hidden;
  background-color: #ff3939; } ul.hnav li { float: left; } ul.hnav li a {
  display:block; color: white; text-align: center; padding: 14px 16px;
  text-decoration: none; color:white} ul.hnav li a:hover { background-color:
  #ca0d0d; }
</style>